* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Dancing Script", cursive;
  background-color: rgb(167, 157, 228);
  padding: 0px;
}
.wrapper {
  background-color: rgb(150, 136, 221);

  margin: 0 auto;
  max-width: 95%;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.img {
  margin: 10px;
}
ul li {
  list-style: none;
}
.topic {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  margin: 30px;
}
.author {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  color: rgb(248, 247, 244);
  margin: 30px;
}
.main-message {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  font-style: italic;
  color: darkblue;
  margin: 30px;
}

.question-container {
  display: flex;
}
.question {
  width: 500px;
  height: 130px;
  background-color: floralwhite;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: blue;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.or {
  width: 50px;
  height: 50px;
  background-color: rgb(167, 155, 238);
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  margin: 30px;
  padding: 30px;
}
.answer {
  font-size: 40px;
  font-weight: 700;
  line-height: 38px;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}

.setting {
  margin: 40px;
  font-size: 18px;
  width: 90%;
  height: auto;
  line-height: 24px;
  text-align: justify;
}
.setting-picture {
  margin: 40px;
  font-size: 18px;
  width: 90%;
  height: auto;
  line-height: 24px;
  text-align: justify;
  display: flex;
}
.list {
  margin: 40px;
  font-size: 18px;
  width: 90%;
  height: auto;
  line-height: 24px;
  text-align: justify;
}
.container-img-right {
  padding-left: 10%;
  padding-top: 5%;
}
.container-img-right-top {
  padding-left: 10%;
  padding-top: 0%;
}

.container-img-right-bottom {
  padding-left: 10%;
  padding-top: 100px;
}

.container-img-left {
  padding-right: 5%;
  padding-top: 5%;
}
.container-img-left-top {
  padding-right: 5%;
  padding-top: 0%;
}
.introduction {
  font-weight: 200;
  color: black;
  font-style: italic;
}
.subblock {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.subhead {
  margin: 20px;
  color: darkblue;
  text-align: center;
}
.poem {
  margin: 10px;
  font-weight: 700;
}
.quote {
  font-weight: 800;
  font-size: 32px;
  color: darkblue;
}
.container-teacher {
  margin-top: 30px;
  margin-left: 30px;
}
.findings {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: darkblue;
  margin: 30px;
  font-style: italic;
}
.final-question {
  font-size: 30px;
  font-weight: 800;
  line-height: 24px;
  color: rgb(3, 3, 3);
  margin: 30px;
  text-align: center;
}
